/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */

body {
    color: #C8CFCE;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #1b1b1b;
}

header div {
    display: inline-block;
}

main {
    height: calc(100vh - 50px);
    display: flex;
    background-color: #1b1b1b;
}

/* header  */

.padding-4 {
    padding: 4px;
}

.shield, .recording{
    background-color: black; 
}

.shield {
    color:green;
    padding: 5px;
}

.recording-icon {
    color: red;
}

.view-bg {
    background-color: #212223;
}

/* main  */
.col-left, .col-right {
    width: 10%;
    color: #2db8ff;
    display: flex;
}

.col-left {
    justify-content: flex-start;
}

.col-right {
    justify-content: flex-end;
}

.col-center {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* frecce colonne laterali  */
.arrows {
    width: 50px; 
    background-color: #1c1c1c;
    text-align: center;
    align-self: center;
    font-size: 10px;
    color: grey;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
}

.arrow-style {
    font-size: 60px; 
    color: #2db8ff;
}

/* partecipanti videochiamata colonna centrale  */
.partecipante {
    width: calc(20% - 4px);
    height: 20%;
    margin: 2px;
    position: relative;
}

.partecipante img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
}

.nome {
    position: absolute;
    left: 2px;
    bottom: 2px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1px 5px;
}

.nome a {
    color: red;
}